name: Build

on:
  push:
    branches: [master,dev]

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: install dependencies
      run: |
        sudo apt update
        sudo apt install -y xvfb keepass2
        curl -L -o kp.zip https://sourceforge.net/projects/keepass/files/KeePass%202.x/2.18/KeePass-2.18.zip/download
        unzip -d build kp.zip
    - run: xvfb-run ./build/all.sh
    - uses: actions/upload-artifact@v4
      with:
        name: tool
        path: output/tool
    - uses: actions/upload-artifact@v4
      with:
        name: plugin
        path: output/plugin.plgx
